# Global
.DS_Store
Thumbs.db
*.log
*.tmp

# Flutter / Dart generated
**/.dart_tool/
**/build/
**/.packages
**/.metadata
**/.flutter-plugins
**/.flutter-plugins-dependencies
**/.pub/
**/coverage/

# IDE
**/.idea/
**/.vscode/
*.iml

# Android / Gradle
**/.gradle/
**/android/.gradle/
**/android/app/debug/
**/android/app/profile/
**/android/app/release/

# iOS / macOS
**/ios/Pods/
**/ios/.symlinks/
**/ios/Flutter/Flutter.framework
**/ios/Flutter/Flutter.podspec
**/macos/Pods/
**/macos/.symlinks/
**/DerivedData/
