<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>CLIENT_ID</key>
	<string>455149683154-6kovaucctuaff0irrtcdmebrguundlh7.apps.googleusercontent.com</string>
	<key>REVERSED_CLIENT_ID</key>
	<string>com.googleusercontent.apps.455149683154-6kovaucctuaff0irrtcdmebrguundlh7</string>
	<key>ANDROID_CLIENT_ID</key>
	<string>455149683154-97apgnlor1u89pg33n4k5k9594egd42l.apps.googleusercontent.com</string>
	<key>API_KEY</key>
	<string>AIzaSyD56oa2M5agcsbB3SzlcABtNwgMfJrEypo</string>
	<key>GCM_SENDER_ID</key>
	<string>455149683154</string>
	<key>PLIST_VERSION</key>
	<string>1</string>
	<key>BUNDLE_ID</key>
	<string>com.example.socialApp</string>
	<key>PROJECT_ID</key>
	<string>social-app-ff485</string>
	<key>STORAGE_BUCKET</key>
	<string>social-app-ff485.appspot.com</string>
	<key>IS_ADS_ENABLED</key>
	<false></false>
	<key>IS_ANALYTICS_ENABLED</key>
	<false></false>
	<key>IS_APPINVITE_ENABLED</key>
	<true></true>
	<key>IS_GCM_ENABLED</key>
	<true></true>
	<key>IS_SIGNIN_ENABLED</key>
	<true></true>
	<key>GOOGLE_APP_ID</key>
	<string>1:455149683154:ios:1c53fa24e74bab0c3e880b</string>
</dict>
</plist>